/*
 * 0 - Normalize
 * 1 - Typographie
 */


/**** 0 - Normalize ****/
a,
a:hover {
  text-decoration: none;
  color: #AA96DA;
}

/**** 1 - Typographie ****/
h2 {
  font-size: 2rem;
  font-weight: bold;
  background: linear-gradient(90deg, #FF7171, #AA96DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

p {
  margin: 2rem 0;
}

section {
  margin: 100px 0;
}